*{
    margin: 0;
    padding: 0;
}
.container{
    width: 500px;
    height: 200px;
    border: 1px solid black;
}

.character{
    width: 20px;
    height: 50px;
    background-color: blue;
    position: relative;
    top: 150px;
    left: 20px;
}

.jumpAnimation{
    animation: jump 700ms;
}

.block{
    width: 20px;
    height: 20px;
    background-color: red;
    position: relative;
    top: 130px;
    left: 480px;
    animation: slide 2s infinite;
}

@keyframes slide{
    0%{left: 480px;}
    100%{left: -50px;}
}

@keyframes jump{
    0%{top: 150px;}
    35%{top: 100px;}
    70%{top: 100px;}
    100%{top: 150px;}
}